<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Node quiz</title>
</head>
<body>
    <center>
        <div class="radio">
            <label><input type="radio" name="optradio" checked>Option 1</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio">Option 2</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" name="optradio" disabled>Option 3</label>
          </div>
    </center>
    


</body>
</html>