<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Node Quiz</title>
</head>
<body>
  <center>  <h1> Node Quiz </h1>
  </center>
  
    <form action="/Quiz/name" method="POST" class="col-md-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">First name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="first name">
        </div>
       
        <form>
          <label for="">Age</label>
          <input type="number" min="1" max="100">
          </form>
       
        <br> <br> 
          <input class="btn btn-primary" type="submit" value="Submit">
        
      </form>
      
    
</body>
</html>